<a href="https://colab.research.google.com/github/rafael-anl/modulo-1-python/blob/main/Estrutura_repeti%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Estruturas de repetiçao

#for

In [ ]:
#For + range - adiciona uma contagem até quando o usuário quiser
for numero in range(19):
  print(numero)

In [ ]:
#for range + break - adiciona uma contagem que para onde o usuário determinar
for numero in range(19):
  if numero == 12:
    break
  print(numero)

In [15]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
#for simples - nos da todos os dados da lista
for val in lista:
  print(val)

In [ ]:
#for com enumerate - mostra posição e valor da variável
for i, val in enumerate(lista):
  print(i, val)

##For com operadores compostos

In [32]:
lista = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
for val in lista:  #somou um numero a mais a cada valor da lista, também pode ser utilizado com todas as operfacões
  val += 1
  print(val)

In [ ]:
for val in lista:
  val -= 1
  print(val)

In [ ]:
for val in lista:
  val *= 2
  print(val)

#While

In [ ]:
val = 5
while val < 6:
  val *=2
  print(val)

In [ ]:
val = 4
while val < 6:
  val *=2
  print(val)