<a href="https://colab.research.google.com/github/rafael-anl/modulo-1-python/blob/main/intera%C3%A7%C3%A3o_com_usuario.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
print ("oi, como posso te ajudar hoje?")

x = 10
print (x)

oi, como posso te ajudar hoje?
10

In [16]:
y = 5 * 17 + 5

div = y / x
print(div)

9.0

In [18]:
nome = "cristiano ronaldo"
print(nome)

cristiano ronaldo

# concatenação

In [22]:
x = 10 * 13 +155 + 5
print("o valor final de x é" ,x)

o valor final de x é 290

In [24]:
print("o valor de x é" ,x, "e o dobro do mesmo é" ,x * 2)

o valor de x é 290 e o dobro do mesmo é 580

In [26]:
print("eu,", nome,"ganhei do meu irmão no fifa", x / 2,"vezes")

eu, cristiano ronaldo ganhei do meu irmão no fifa 145.0 vezes

In [28]:
y = 10; r = 5 * 12 + 25
print("declarar mais de uma variável na mesma linha", y,"e", r)

declarar mais de uma variável na mesma linha 10 e 85

# Type

In [31]:
x = 20
print("x é", type(x))

x é <class 'int'>

In [34]:
nome = 'lionel ronaldo junior'
print("nome é", type(nome))

nome é <class 'str'>

In [42]:
x =12.5 ; y = 12 * x + 10
soma = x + y
print('a soma de x + y é', soma,'e o seu tipo é', type(soma))

a soma de x + y é 172.5 e o seu tipo é <class 'float'>

In [43]:
x =12 ; y = 12 * x + 10
soma = x + y
print('a soma de x + y é', soma,'e o seu tipo é', type(soma))

a soma de x + y é 166 e o seu tipo é <class 'int'>

In [46]:
num = '14526'
num_convert = int(num)

print("num é", type(num))
print("num convert é", type(num_convert))

num é <class 'str'>
num convert é <class 'int'>

In [48]:
num_float = float(num)
print('num float é', num_float)

num float é 14526.0

# Input
## armazenar informções fornecida pelo usuario em uma variável
## o dado armazenado sempre será texto

In [106]:
nome = input("digite o nome do usuário ")
print("Olá, seja bem vindo", nome)

digite o nome do usuário livinha 2.0
Olá, seja bem vindo livinha 2.0

In [89]:
valor = input("digite o valor do produto ")
print("o valor do produto é", valor)

digite o valor do produto 34
o valor do produto é 34

In [96]:
desconto = valor - 5      # deu errado pois tem que especificar o tipo da variável

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [97]:
desconto = int(valor) - 5
print("o valor do produto com desconto é", desconto)

o valor do produto com desconto é 29

## ou

In [98]:
valor_convert = int(valor)
desconto = valor_convert - 5
print("o valor do produto com desconto é", desconto)

o valor do produto com desconto é 29

In [109]:
valor = input("digite sua nota ")
valor = float(valor)
if valor >= 6:
  print("Você foi aprovado/a, parabéns", nome)
else:
  print("Que pena, você foi reprovado/a", nome)

digite sua nota 4
Que pena, você foi reprovado/a livinha 2.0